# Gradle cache
mobile_app/**/.g/
mobile_app/**/.gradle/
mobile_app/**/.gradle-user-home/
mobile_app/**/android/.gradle-user-home/
mobile_app/**/build/
mobile_app/**/.dart_tool/

# Flutter
mobile_app/**/android/.gradle/
*.class

# Python
__pycache__/
*.pyc
.env
venv/