# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE
# ======================
.vscode/
.idea/
*.iml

# ======================
# ======================
.env
.env.*

# ======================
# Go
# ======================
bin/
pkg/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go workspace (если используешь)
go.work
go.work.sum

# ======================
# Logs
# ======================
*.log

# ======================
# Build / temp
# ======================
tmp/
temp/
dist/

# ======================
# Docker (опционально)
# ======================
docker-data/

# ======================
# Test
# ======================
*.test
coverage.out

# ======================
# Cache
# ======================
.cache/
.gocache/
.gomodcache/
.gopath/
.gotmp/
